@{
    ViewBag.Title = "Home Page";
}

    <div class="row">
        <div class="col-md-4 text-center">
            <h2>The current day is: @DateTime.Now.Day</h2>
            <h2>The current hour is: @DateTime.Now.Hour</h2>
            <h2>The current minute is: @DateTime.Now.Minute</h2>
            <h2>The current second is: @DateTime.Now.Second</h2>
            <h2>@DateTime.Now</h2>
        </div>
    </div>